aiohttp==3.8.1
aiosignal==1.2.0
amqp==5.1.1
arabic-reshaper==2.1.3
argon2-cffi==21.1.0
asgiref==3.5.0
asn1crypto==1.5.1
async-timeout==4.0.2
attrs==21.4.0
autobahn==22.3.2
Automat==20.2.0
billiard==3.6.4.0
boto3==1.18.31
botocore==1.21.65
celery==5.2.6
certifi==2021.10.8
cffi==1.15.0
channels==3.0.4
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
Collectfast==2.2.0
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==37.0.1

daphne==3.0.2
Deprecated==1.2.13
dj-database-url==0.5.0
Django==3.2.6
django-celery-beat==2.2.1
django-cors-headers==3.8.0
django-debug-toolbar==3.2.4
django-environ==0.4.5
django-extensions==3.1.5
django-filter==2.4.0
django-leaflet==0.28.2
django-mail-queue==3.2.5
django-redis==5.0.0
django-storages==1.11.1
django-templated-mail==1.1.1
django-timezone-field==4.2.3
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
drf-api-tracking==1.8.0
drf-yasg==1.20.0
fpdf==1.7.2
frozenlist==1.3.0
future==0.18.2
geonamescache==1.3.0
gunicorn==20.1.0
html5lib==1.1
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
inflection==0.5.1
install==1.3.5
itypes==1.2.0
Jinja2==3.1.2
jmespath==0.10.0
kombu==5.2.4
lxml==4.9.1
MarkupSafe==2.1.1
maxminddb==2.2.0
msgpack-python==0.5.6
multidict==6.0.2
numpy==1.23.1
oscrypto==1.3.0
packaging==21.3
pandas==1.4.3
Pillow==9.2.0
prompt-toolkit==3.0.29
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyHanko==0.13.2
pyhanko-certvalidator==0.19.5
PyJWT==2.3.0
pyOpenSSL==22.0.0
pyotp==2.6.0
pyparsing==3.0.8
PyPDF3==1.0.6
python-bidi==0.4.2
python-crontab==2.6.0
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
qrcode==7.3.1
redis==4.2.2
reportlab==3.6.11
requests==2.27.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.5.2
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
svglib==1.3.0
tblib==1.7.0
tinycss2==1.1.1
tqdm==4.64.0
Twisted==22.4.0
txaio==22.2.1
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
uritemplate==4.1.1
uritools==4.0.0
urllib3==1.26.9
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.14.0
xhtml2pdf==0.2.8
yarl==1.7.2
zope.interface==5.4.0
