<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <title>Welcome to Python Guides</title>#}
</head>
<body>
{#    <header class="header">#}
    <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" height="10%", width="10%"/>
    <h1>Student Application</h1><br/>
    <h5>Name:</h5>{{ student.fullname }}
    <h5>Gender:</h5>{{ student.gender }}
    <h5>Contact:</h5>{{ student.contact }}
    <h5>Permanent Address:</h5>{{ address.permanent_address }}
    <h5>Temporary Address:</h5>{{ address.temporary_address }}

{#    </header><br>#}

</body>
</html>